<div class=principal>
	<div class=foto>
		<img src="images/foto.jpg" width="150" height="150"></img>
		<h3 class=piefoto>Foto</h3>
	</div>
	<div class=datos>
		<h2>Nombre: Pepe Pérez</h2>
		<h2>Ocupación: Consultor</h2>
		<div class=resumen><h3>Experiencia profesional:</h3>
			<ul>
				<li>Curso programación python</li>
				<li>Uso de VBA con Office</li>
				<li>Curso de desarrollo web</li>
			</ul>
			
		</div>
	</div>
</div>